@model List<PrelimCoop.Entities.Usertypedb>
<h1>Add user</h1>
    <a class="btn btn-success" href="../User/create">Create New</a>
<h1>User</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">User Id</th>
      <th scope="col">User Name</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var user in Model)
    {
    <tr>
      <th scope="row">@user.Id</th>
      <td>@user.Usertype</td>
       <td>
          <a class="btn btn-warning" href="/User/update/@user.Id">Update</a>
          <a class="btn btn-danger" href="/User/delete/@user.Id">Delete</a>
      </td>
    </tr>
    }
  </tbody>
</table>