@model PrelimCoop.Entities.ClientsInfoTb;


@{
    ViewData["Title"] = "Create";
}
@* <form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="UserType"></label>
        <input  class="form-control" />
        <span asp-validation-for="UserType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="ZipCode"></label>
        <input asp-for="ZipCode" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Birthday"></label>
        <input asp-for="Birthday" id="birthdayInput" type="date" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" id="ageInput" class="form-control" readonly>
    </div>

    <div class="form-group">
        <label asp-for="NameOfFather"></label>
        <input asp-for="NameOfFather" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="NameOfMother"></label>
        <input asp-for="NameOfMother" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="CivilStatus"></label>
        <input asp-for="CivilStatus" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Religion"></label>
        <input asp-for="Religion" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Occupation"></label>
        <input asp-for="Occupation" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form> *@

<style>
    .form-style-9 {
        max-width: 1000px;
        background: #FAFAFA;
        padding: 40px;
        margin: 50px auto;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
        margin-top: 0px;
    }

    .form-style-9 ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .form-style-9 ul li {
        display: block;
        margin-bottom: 10px;
        min-height: 35px;
    }

    .form-style-9 ul li .field-style {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 8px;
        outline: none;
        border: 1px solid rgb(133, 129, 129); /* Set border color to black */
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
     
    }

    .form-style-9 ul li .field-style:focus {
        box-shadow: 0 0 5px #B0CFE0;
        border: 1px solid #B0CFE0;
    }

    .form-style-9 ul li .field-split {
        width: 49%;
    }

    .form-style-9 ul li .field-full {
        width: 100%;
    }

    .form-style-9 ul li input.align-left {
        float: left;
    }

    .form-style-9 ul li input.align-right {
        float: right;
    }

    .form-style-9 ul li textarea {
        width: 100%;
        height: 100px;
    }

    .form-style-9 ul li input[type="button"],
    .form-style-9 ul li input[type="submit"] {
        -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
        -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
        box-shadow: inset 0px 1px 0px 0px #3985B1;
        background-color: #216288;
        display: inline-block;
        cursor: pointer;
        color: #FFFFFF;
        padding: 8px 18px;
        text-decoration: none;
        font: 12px Arial, Helvetica, sans-serif;
    }

    .form-style-9 ul li input[type="button"]:hover,
    .form-style-9 ul li input[type="submit"]:hover {
        background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
        background-color: #28739E;
    }
</style>


<form class="form-style-9">
<ul>
<li>
    <input type="text" name="field1" class="field-style field-split align-left" asp-for="UserType" placeholder="User Type" />
    <input type="email" name="field2" class="field-style field-split align-right" placeholder="Email" />

</li>
<li>
    <input type="text" name="field3" class="field-style field-split align-left" placeholder="Phone" />
    <input type="url" name="field4" class="field-style field-split align-right" placeholder="Website" />
</li>
<li>
<input type="text" name="field3" class="field-style field-full align-none" placeholder="Subject" />
</li>
<li>
<textarea name="field5" class="field-style" placeholder="Message"></textarea>
</li>
<li>
<input type="submit"/>
</li>
</ul>
</form>
@section Scripts {
    <script>
    
        function calculateAge() {
            var currentDate = new Date();
            var birthday = new Date(document.getElementById('birthdayInput').value);
            var age = currentDate.getFullYear() - birthday.getFullYear();
            if (currentDate.getMonth() < birthday.getMonth() || (currentDate.getMonth() == birthday.getMonth() && currentDate.getDate() < birthday.getDate())) {
                age--;
            }
            document.getElementById('ageInput').value = age;
        }

      
        document.getElementById('birthdayInput').addEventListener('change', calculateAge);
    </script>
}