@model PrelimCoop.Entities.ClientsInfoTb

<form asp-action="Create" method="post">

  <div class="form-group">
    <label asp-for="UserType"></label>
    <input asp-for="UserType" class="form-control" />
     <span asp-validation-for="UserType" class="text-danger"></span>
  </div>

  <div class="form-group">
    <label asp-for="FullName"></label>
    <input asp-for="FullName" class="form-control">
  </div>

<div class="form-group">
    <label asp-for="LastName"></label>
    <input asp-for="LastName" class="form-control">
</div>

  <div class="form-group">
    <label asp-for="Address"></label>
    <input asp-for="Address" class="form-control">
  </div>

  <div class="form-group">
    <label asp-for="ZipCode"></label>
    <input asp-for="ZipCode" class="form-control">
  </div>

  <div class="form-group">
    <label asp-for="Birthday"></label>
    <input asp-for="Birthday" type="date" class="form-control">
  </div>

  <div class="form-group">
    <label asp-for="Age"></label>
    <input asp-for="Age" class="form-control">
  </div>

  <div class="form-group">
    <label asp-for="NameOfFather"></label>
    <input asp-for="NameOfFather" class="form-control">
  </div>

  <div class="form-group">
    <label asp-for="NameOfMother"></label>
    <input asp-for="NameOfMother" class="form-control">
  </div>

  <div class="form-group">
    <label asp-for="CivilStatus"></label>
    <input asp-for="CivilStatus" class="form-control">
  </div>

  <div class="form-group">
    <label asp-for="Religion"></label>
    <input asp-for="Religion" class="form-control">
  </div>

  <div class="form-group">
    <label asp-for="Occupation"></label>
    <input asp-for="Occupation" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>