@model PrelimCoop.Entities.LoanDb;



      <form asp-action="Create" method="post">
         <div class="form-row">
            <div class="input-data">
                <label for="">Client</label>
                <input asp-for="Client" class="form-row" />
               <div class="underline"></div>
               
            </div>
            <div class="input-data">
                <label for="cars">Choose a car:</label>
                <select asp-for="Type" id="cars" name="cars">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
                </select>
            </div>
         </div>

         <div class="form-row">
            <div class="input-data">
                  <label for="">Amount</label>
               <input asp-for="Amount" class="form-row" />
               <div class="underline"></div>
              
            </div>
            <div class="input-data">
                  <label for="">Interest</label>
               <input asp-for="Interest" class="form-row" />
               <div class="underline"></div>
             
            </div>
         </div>

           <div class="form-row">
            <div class="input-data">
                 <label for="">No of Payment</label>
                <input asp-for="NoOfPayment" class="form-row" />
               <div class="underline"></div>
               
            </div>
            <div class="input-data">
                   <label for="">Deduction</label>
                <input asp-for="Deduction" class="form-row" />
               <div class="underline"></div>
           
            </div>
         </div>

           <div class="form-row">
            <div class="input-data">
                  <label for="">Status</label>
              <input asp-for="Status" class="form-row" />
               <div class="underline"></div>
             
            </div>
            
            <div class="input-data">
                 <label for="">Date Created</label>
               <input asp-for="DateCreated" type="date" class="form-row" />
               <div class="underline"></div>
               
               
            </div>
         </div>

            <div class="form-row">
            <div class="input-data">
                 <label for="">Reciebale Amount</label>
               <input asp-for="RecievableAmount" type="date" class="form-row" />
               <div class="underline"></div>
              
            </div>
            
            <div class="input-data">
                 <label for="">Due Date</label>
               <input asp-for="DueDate" type="date" class="form-row" />
               <div class="underline"></div>
               
               
            </div>
         </div>

            <div class="form-row submit-btn">
               <div class="input-data">
                  <div class="inner"></div>
                  <input type="submit" value="submit">
               </div>
            </div>
      </form>
      
      